body {
  width: 60em;

  margin: 0;

  display: grid;
  grid-template-columns: [start] auto [middle] 3fr [end];
  grid-template-rows: [header] auto [stuff] 100fr [finish];
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body > header {
  grid-area: header / middle / stuff / end;
  text-align: center;
}

.info, .about_us {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.instalacoes_info, #contactos {
  margin-left: 1em;
}


/*bara do menu (menu.php)*/
#menu {
  grid-area: header / start / finish / middle;
  margin: 0;
  height: 100%;
  width: 200px;
}

#menu form {
  margin-top: 2.5em;
  margin-left: 0.8em;
}


/*barra do registo (register.php)*/
#register form {
  padding-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#register {
  background: #eceeee;
  border: 2px solid #6c7ae0;
  border-radius: 6px;
  height: 20em;
  margin: 1em auto 0;
  width: 20em;
}

#mem_num {
  margin-bottom: 1em;
}

#email {
  margin-bottom: 1em;
}


/*página com a lista das instalações (list_instalacoes.php)*/
#instalacoes {
  text-align: center;
  align-items: center;
}

#instalacoes h3 {
  margin-top: 2em;
}

#instalacoes #img_inst {
    width: 50%;
    margin-top: 3em;
    margin-bottom: 3em;
}


/*página de cada localização (instalacao.php)*/
#instalacao_opcoes ul{
  list-style-type: none;
  text-align: center;
  margin-top: 15em;
}

#instalacao_opcoes li {
  font-size: 1.5em;
  padding: 2em;
  margin-right: 2em;
  font-weight: bold;
}

#instalacao_opcoes li:hover {   /*não está a funcionar*/
  color: white;
}

#instalacao_opcoes li:first-child{
  border-bottom: 2px solid #6c7ae0;
}

#instalacao_opcoes h2 {
  margin-left: 0.65em;
}


/*página com os contactos de cada localização (contactos.php)*/
#contactos .list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 2em;
}

#contactos .list article {
  background-color: var(--background-color-dark);
  padding: 1em;
  margin: 2em;
  flex-grow: 1;
  display: grid;
  justify-items: center;
}

#contactos .list article h3 {
  margin: 0;
  padding: 1.5em;
}

.img_contacto {
  margin-top: 3em;
}

#img_contacto1 {
  width: 27%;
  height: 95%;
}

#img_contacto2 {
  margin-left: 4em;
  margin-right: 4em;
  width: 27.5%;
  height: 95%;
}

#img_contacto3 {
  width: 27%;
  height: 95%;
}


/*página com os tipos de treinos de cada localização (treinos.php)*/
.treino_instalacoes h2 {
  margin-left: 0.65em;
}

.treino_instalacoes ul{
  list-style-type: none;
  text-align: center;
  margin-top: 15em;
}

.treino_instalacoes li {
  font-size: 1.5em;
  padding: 2em;
  margin-right: 2em;
  font-weight: bold;
}

.treino_instalacoes li:hover {
  color: white;
}

.treino_instalacoes li:first-child{
  border-bottom: 2px solid #6c7ae0;
}


/*página com a lista da modalidades (treino_aulas.php)*/
.treinos_aulas h2{
  margin-left: 0.65em;
}

.treinos_aulas ul{
  list-style-type: none;
  text-align: center;
  margin-top: 5em;
}

.treinos_aulas li {
  font-size: 1.3em;
  padding: 2em;
  margin-right: 2em;
  font-weight: bold;
}

.treinos_aulas li:hover {
  color: white;
}

.treinos_aulas li:first-child{
  border-bottom: 2px solid #6c7ae0;
}

.treinos_aulas .list_mod {
  margin-bottom: 2.5em;
}


/*página com os treinadores pt de cada localização (treino_pt.php)*/
.treinos_pt h2 {
  margin-left: 0.65em;
}
.treinos_pt h3 {
  margin-left: 0.65em;
  font-size: 1.5em;
}

.treinos_pt ul{
  list-style-type: none;
  text-align: center;
  margin-top: 5em;
}

.treinos_pt li {
  padding: 2em;
  margin-right: 2em;
  font-weight: bold;
}

.treinos_pt li:hover {
  /*color: #6c7ae0;*/
  color: white;
}

.treinos_pt li:first-child{
  border-bottom: 2px solid #6c7ae0;
}

.treinos_pt li:nth-child(2){
  border-bottom: 2px solid #6c7ae0;
}


/*páginas com descreição das aulas (descricao_pt.php e descricao_aula.php)*/
.descricao .list {
  text-align: center;
}

.descricao li {
  margin-bottom: 1em;
}


/*cabeçalhos de várias páginas*/
.horario_completo h2 , .horario_cardio h2 , .horario_crossfit h2, .horario_pilates h2, .horario_zumba h2{
  margin-left: 0.65em;
}

.info_treinador h2 , .descricao h2 {
  margin-left: 0.65em;
}

.info_treinador h4 {
  margin-left: 0.9em;
}


/*página da apresentação do resultado da pesquisa (searchresult.php)*/
#search_res li{
  list-style-type: none;
  text-align: center;
  margin-top: 5em;
  font-size: 1.3em;
  font-weight: bold;
}


/*paginação na página (list_instalacoes.php)*/
#pagination{
  text-align: center;
  font-size: 1.3em;
}

#pagination a {
  margin: 0 1em;
}
