body {
  width: 60em;

  margin: 0;

  display: grid;
  grid-template-columns: [start] auto [middle] 3fr [end];
  grid-template-rows: [header] auto [stuff] 100fr [finish];
}

html, body {
  width: 100%;                                                                 /*1 - fez alargar*/
  height: 100%;
  min-height: 100%
  text-align: center;
}

.info, .about_us {
  padding-top: 2em;                                                   /* 5 aumnta espaço entre titulo e texto*/
  /*width: 75%;*/
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#menu {
  grid-area: header / start / finish / middle;
  margin: 0;
  display: absolute;
  height: 100%;
  width: 200px;
}

/*.info, #login, #register, #instalacoes, .about_us, .instalacoes_info {
  grid-area: stuff / middle / finish / end;
  margin-top: 0;
}*/

/*.info, #login, #register, .about_us, #contactos {                             2 - retirar margem (comentar)
  margin-left: 20em;
}*/

.instalacoes_info, #contactos {
  margin-left: 1em;
}

#menu form {
  margin-top: 2.5em;
  margin-left: 0.8em;
}

/*#login form {
  padding-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#login {
  background: #eceeee;
  border: 2px solid #6c7ae0;
  border-radius: 6px;
  height: 15em;
  margin: 1em auto 0;
  width: 20em;
}
#user {
  margin-bottom: 1em;
}
#pwd {
  margin-bottom: 2em;
}*/



#register form {
  padding-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#register {
  background: #eceeee;
  border: 2px solid #6c7ae0;
  border-radius: 6px;
  height: 20em;
  margin: 1em auto 0;
  width: 20em;
}

#mem_num {
  margin-bottom: 1em;
}

#email {
  margin-bottom: 1em;
}

/*#instalacoes  {
  margin-left: 10.5em;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}*/

body > header {
  /*margin-left: 20em;                                                                  3 tirar margem header*/
  grid-area: header / middle / stuff / end;
  text-align: center;
}

#instalacoes {
  text-align: center;
  align-items: center;
  /*font-size: 1.5em;*/
}

#instalacoes h3 {
  margin-top: 2em;
}

#instalacoes #img_inst {
    width: 50%;
    margin-top: 3em;
    margin-bottom: 3em;
}

/*#instalacao_opcoes {
  display: flex;
  flex-direction: column;
}*/

#instalacao_opcoes ul{
  list-style-type: none;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  text-align: center;
  margin-top: 15em;
}

#instalacao_opcoes li {
  font-size: 1.5em;
  padding: 2em;
  margin-right: 2em;
  font-weight: bold;
}

#instalacao_opcoes li:hover {   /*não está a funcionar*/
  /*color: #6c7ae0;*/
  color: white;
}

#instalacao_opcoes li:first-child{
  border-bottom: 2px solid #6c7ae0;
}

#contactos .list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 2em;
}

#contactos .list article {
  background-color: var(--background-color-dark);
  padding: 1em;
  margin: 2em;
  flex-grow: 1;
  display: grid;
  justify-items: center;
}

#contactos .list article h3 {
  margin: 0;
  padding: 1.5em;
}

.img_contacto {
  margin-top: 3em;
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;*/
}

#img_contacto2 {
  margin-left: 5em;
  margin-right: 5em;
}

.treino_instalacoes ul{
  list-style-type: none;
  text-align: center;
  margin-top: 15em;
}

.treino_instalacoes li {
  font-size: 1.5em;
  padding: 2em;
  margin-right: 2em;
  font-weight: bold;
}

.treino_instalacoes li:hover {
  /*color: #6c7ae0;*/
  color: white;
}

.treino_instalacoes li:first-child{
  border-bottom: 2px solid #6c7ae0;
}

.treinos_aulas  {
  margin-top: 2em;
}
.treinos_aulas ul{
  list-style-type: none;
  text-align: center;
  margin-top: 5em;
}

.treinos_aulas li {
  font-size: 1.3em;
  padding: 2em;
  margin-right: 2em;
  font-weight: bold;
}

.treinos_aulas li:hover {
  /*color: #6c7ae0;*/
  color: white;
}

.treinos_aulas li:first-child{
  border-bottom: 2px solid #6c7ae0;
}

.treinos_aulas .list_mod {
  margin-bottom: 2.5em;
}

#treinos_pt ul{
  list-style-type: none;
  text-align: center;
  margin-top: 5em;
}

#treinos_pt li {
  padding: 2em;
  margin-right: 2em;
  font-weight: bold;
}

#treinos_pt li:hover {
  /*color: #6c7ae0;*/
  color: white;
}

#treinos_pt li:first-child{
  border-bottom: 2px solid #6c7ae0;
}

#treinos_pt li:nth-child(2){
  border-bottom: 2px solid #6c7ae0;
}

.descricao .list {
  text-align: center;
}

.descricao li {
  margin-bottom: 1em;
}

#search_res li{
  list-style-type: none;
  text-align: center;
  margin-top: 5em;
  font-size: 1.3em;
  font-weight: bold;
}

#pagination{
  text-align: center;
  font-size: 1.3em;
}

#pagination a {
  margin: 0 1em;
}
