body {
  font-family: "Montserrat-Regular", serif;
  display: flex;
  background-color: #f2f2f2;
  background-image: url("../imagens/teste8.png");
}

a {
  text-decoration: none;
  color: black;
}

.info h1, .about h1 {
  font-size: 1.5em;
}

.about, .info {
  text-align: center;
}


/*barra do menu (menu.php)*/
#menu h1 {
  text-align: center;
  padding-left: 1em;
}

#menu ul {
  list-style-type: none;
}

#menu {
  color: white;
  background-color: #36304a;
  border-color: white;
  border-width: 1em;
}

#menu li:nth-child(4) {
  font-size: 0.8em;
  margin-left: 2em;
}

#menu span {
  font-size: 0.8em;
  margin-left: 2em;
}

#menu a{
  color: white;
  padding-top: 1em;
  padding: 1em 1em 1em 0;
  display: block;
  font-size: 1.1em;
}

#menu a:hover {
  color: #6c7ae0;
}

#menu span{
  color:white;
}


/*barra search (menu.php)*/
#search input[type=text]{
  position: fixed;
  bottom: 2em;
  width: 2%;
  margin-left: 1.1em;
  -webkit-transition: margin-right 0.4s ease-in-out;
  transition: margin-right 0.4s ease-in-out;
  background-color: #a79994;
  border-radius: 0.4em;

}
#search ::placeholder {
  background-image: url("../imagens/search-solid.svg");
  background-repeat: no-repeat;
}

#search input[type=text]:focus {
  width: 8%;
}

#menu button {
  display: none;
}


/*barras login (menu.php)*/
#login input[type=text]{
  margin-top: 1.1em;
  width: 90%;
  border: none;
  border-bottom: 2px solid #6c7ae0;
  background-color: #36304a;
}
#login input[type=text]:focus{
  color:white;
}

#login input[type=password] {
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  width: 90%;
  border: none;
  border-bottom: 2px solid #6c7ae0;
  background-color: #36304a;
}
#login input[type=password]:focus {
  color:white;
}

#login input[type=submit]{
  background-color: #a79994;
  border-radius: 0.4em;
  margin-left: 3.5em;
}


/*barra de registo (register.php)*/
#register input[type=submit]{
  margin-top: 2em;
}

::placeholder {
   color: #6c7ae0;
   font-weight: bold;
  }


/*imagem da página inaicial (index.php)*/
#img_index {
  width: 75%;
}


/*página com lista das instalações (list_instalacoes.php)*/
#instalacoes a:hover {
  color: #6c7ae0;
}

#instalacoes h3 {
  font-size: 1.7em;
}


/*página com lista de treinadores (treino_pt.php)*/
.treinos_pt li, .treinos_pt h3{
    font-size: 1.7em;
}


/*páginas com a descrição das aulas (descricao_pt.php e descricao_aula.php)*/
.descricao .list {
  font-size: 1.5em;
  margin-top: 5em;
}

.descricao li {
  list-style: none;
}

.descricao input[type=submit] {
  background-color: #36304a;
  color: white;
  border: none;
  border-radius: 0.4em;
}


/*configuração das tabelas para os mapas de aulas*/
p {
  font-family: "Montserrat-Regular", serif;
  line-height: 1.4em;
  padding: 1em;
}

.container-table100{
  width:100%;
  min-height:100vh;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox
  ;display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  padding:33px 30px
}

  .wrap-table100{
    width:1300px
  }

  table{
    width:100%;
    background-color:#fff
  }

  th,td{
    font-weight:unset;
    padding-right:10px
  }

  .column100{
    width:130px;
    padding-left:25px
  }

  .column100.column1{
    width:265px;
    padding-left:42px
  }

  .row100.head th{
    padding-top:24px;
    padding-bottom:20px
  }

  .row100 td{
    padding-top:18px;
    padding-bottom:14px
  }

  .table100.ver1 td{
    font-family:Montserrat-Regular;
    text-align: center;
    font-size:14px;
    color:gray;
    line-height:1.4
  }

  .table100.ver1 th{
    font-family:Montserrat-Medium;
    font-size:12px;color:#fff;
    line-height:1.4;
    text-transform:uppercase;
    background-color:#36304a
  }

  .table100.ver1 .row100:hover{
    background-color:#f2f2f2
  }

  .table100.ver1 .hov-column-ver1{
    background-color:#f2f2f2
  }

  .table100.ver1 .hov-column-head-ver1{
    background-color:#484848!important
  }

  .table100.ver1 .row100 td:hover{
    background-color:#6c7ae0;
    color:#fff
}
